:root {
  --rotate: 0deg;
}
* {
  box-sizing: border-box;
}
body {
  text-align: center;
  margin: 60px 0 0 0;
  display: grid;
  place-items: center;
}
canvas {
  border: solid 6px white;
  background: cornflowerblue;
}

.snake-wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  background: black;
}
/* .snake-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://img.freepik.com/foto-gratis/imagen-primer-plano-hierba-verde-fresca-primavera_1232-2759.jpg?size=626&ext=jpg&ga=GA1.2.1853315246.1613088000");
  filter: grayscale(0.8);
} */
.snake {
  width: 10px;
  height: 10px;
  position: absolute;
}
.head {
  background: chartreuse;
  top: 0;
  left: 0;
  border-radius: 3px 3px 6px 6px;
  display: grid;
  place-items: center;
  transform: rotate(var(--rotate)) scale(1.2);
  z-index: 1;
}
.head::before {
  content: "|";
  font-size: 6px;
  position: absolute;
  left: 4px;
  top: 7px;
  z-index: -1;
  color: red;
  font-weight: 800;
}

/* .head::after {
  content: "⚫⚫";
  font-size: 4px;
  position: absolute;
  left: -0.5px;
  top: 2px;
  z-index: -1;
} */
.tail {
  background: rgb(117, 204, 31);
  top: 0;
  left: 0;
  border-radius: 3px;
  border: solid rgb(149, 209, 167) 1px;
  /* transition: all 75ms; */
}
.tail:last-child {
  background: rgb(9, 116, 41);
  top: 0;
  left: 0;
  border-radius: 2px;
  transform: scale(0.8);
}

.victima {
  width: 10px;
  height: 10px;
  position: absolute;
  background: red;
  /* top: 0;
  left: 0; */
}
.victima::before {
  content: "🍒";
  line-height: 0;
  font-size: 16px;
  position: absolute;
  top: 2px;
  left: -4px;
}
