:root {
  --rotate: 0deg;
}
* {
  box-sizing: border-box;
}

@font-face {
  font-family: gamer;
  src: url(../fonts/pixelart.woff);
}
body {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "score game buttons";
  background: #181818;
  background: #979797;

  place-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url(https://wallpapercave.com/wp/wp2315931.jpg);
  background-size: cover;
}
canvas {
  border: solid 6px white;
  background: cornflowerblue;
}

.gameover {
  grid-area: "game";
  z-index: 999;
  width: 500px;
  height: 500px;
  background: #000000;
  position: absolute;
  top: 0;
  color: rgb(83, 83, 83);
  backdrop-filter: blur(5px);
  font-family: gamer;
  font-size: 48px;
  letter-spacing: 6px;
  line-height: 70px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: none;
}
.gameover:hover .firstWord,
.gameover:hover .secondWord {
  top: 0;
}
.gameover:hover .firstWord {
  text-shadow: 0 0.5px 3px rgb(25, 196, 25);
}
.gameover:hover .secondWord {
  text-shadow: 0 2px 5px rgb(25, 196, 25);
}
.firstWord {
  transition: all 0.1s ease-in-out;
  position: relative;
  /* top: -500px; descomentar para efecto hover*/
  margin: 0;
}
.secondWord {
  /* top: 1000px; descomentar para efecot hover*/
  position: relative;
  transition: all 0.08s ease-in-out;
  margin: 0;
}
.gameover:hover .gameover__btn {
  box-shadow: 0 0 25px rgb(25, 196, 25), 0 0 50px rgb(25, 196, 25),
    0 0 100px rgb(25, 196, 25), 0 0 200px rgb(25, 196, 25);
  background: rgb(25, 196, 25);
  color: rgb(0, 0, 0);
}
.gameover__btn {
  letter-spacing: 2px;
  margin-top: 50px;
  border: none;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  color: rgb(25, 196, 25);
  border: dashed 2px rgb(25, 196, 25);
  background: transparent;
}
/* .translateDown {
  top: 0;
}
.translateTop {
  top: 0;
} */

.snake-wrapper {
  box-sizing: content-box;
  grid-area: "game";
  position: relative;
  border-radius: 5px;
  width: 500px;
  height: 500px;

  background: rgba(0, 0, 0, 0.541);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px whitesmoke;
  /* box-shadow: 5px 5px 10px #000000, -5px -5px 10px #0b0b0b; */
  /* box-shadow: inset 5px 5px 8px 2px #bebebe, inset -5px -5px 8px 2px whitesmoke; */
  overflow: hidden;
}
/* .snake-wrapper::before {
  left: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.205);
  backdrop-filter: blur(5px);
} */

/* .snake-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://img.freepik.com/foto-gratis/imagen-primer-plano-hierba-verde-fresca-primavera_1232-2759.jpg?size=626&ext=jpg&ga=GA1.2.1853315246.1613088000");
  filter: grayscale(0.8);
} */
.snake {
  width: 10px;
  height: 10px;
  position: absolute;
  box-shadow: 0 0 5px rgb(25, 196, 25), 0 0 10px rgb(25, 196, 25);
}
.head {
  background: chartreuse;
  top: 10px;
  left: 10px;
  border-radius: 3px 3px 6px 6px;
  display: grid;
  place-items: center;
  transform: rotate(var(--rotate)) scale(1.2);
  z-index: 1;
}
.head::before {
  content: "|";
  font-size: 6px;
  position: absolute;
  left: 4px;
  top: 7px;
  z-index: -1;
  color: red;
  font-weight: 800;
}

.tail {
  background: rgb(117, 204, 31);
  /* top: 0;
  left: 0; */
  border-radius: 3px;
  border: solid rgb(149, 209, 167) 1px;
  /* transition: all 75ms; */
}
.tail:last-child {
  background: rgb(9, 116, 41);
  top: 0;
  left: 0;
  border-radius: 2px;
  transform: scale(0.8);
}

.victima {
  width: 10px;
  height: 10px;
  position: absolute;
  /* background: red; */
  /* top: 0;
  left: 0; */
}
.victima::before {
  content: "🍄";
  color: red; /*comentar porque al ser un emoji, en otras compus se ve bien*/
  filter: drop-shadow(0px 0px 10px rgba(210, 255, 85, 0.548));
  line-height: 0;
  font-size: 16px;
  position: absolute;
  top: 5px;
  left: -3px;
}

.botonera-tetris {
  grid-area: buttons;
  width: 100%;
  height: 150px;
  /* background: rosybrown; */
  display: none;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  place-items: center;
  grid-template-areas:
    "flechas play"
    "flechas play";
}
.botonera__flechas {
  grid-area: flechas;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-columns: 60px 60px 60px;
  grid-template-rows: 60px 60px 60px;
  grid-template-areas:
    ". T ."
    "L . R"
    ". D .";
  position: relative;
}
.botonera__flechas-btn {
  height: 45px;
  width: 45px;
  background: #fbdd31;
  border: none;
  box-shadow: 0px 0px 5px 5px #050505a1, -2px -2px 8px 2px #0b0b0b63;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.botonera__flechas-btn:hover {
  box-shadow: 1px 1px 4px 1px #050505, -1px -1px 4px #0b0b0b63;
}

.decorativo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.decorativo-a {
  width: 35px;
  height: 2px;
  background: #fffdfd7c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.decorativo-a::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border: solid transparent 4px;
  border-right: solid #fffdfd7c 4px;
  left: -8px;
  top: -3px;
}
.decorativo-a::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border: solid transparent 4px;
  border-left: solid #fffdfd7c 4px;
  right: -8px;
  top: -3px;
}
.decorativo-b {
  width: 2px;
  height: 35px;
  background: #fffdfd7c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.decorativo-b::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border: solid transparent 4px;
  border-bottom: solid #fffdfd7c 4px;
  right: -3px;
  top: -7px;
}
.decorativo-b::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border: solid transparent 4px;
  border-top: solid #fffdfd7c 4px;
  right: -3px;
  bottom: -7px;
}
.left {
  grid-area: L;
}
.right {
  grid-area: R;
}
.top {
  grid-area: T;
}
.down {
  grid-area: D;
}

.botonera__play-stop {
  grid-area: play;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.botonera__play-stop__btn {
  height: 90px;
  width: 90px;
  background: #fbdd31;
  border: none;
  box-shadow: 2px 2px 8px 2px #050505, -2px -2px 8px #0b0b0b63;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.puntaje-wrapper {
  grid-area: score;
  font-family: gamer;
  position: relative;
}
.marcador {
  font-size: 25px;
  color: whitesmoke;
  top: 0;
}
.marcador__puntaje {
  color: whitesmoke;
  text-shadow: -2px 0px 10px;
}
.bonus {
  display: block;
  color: white;
  transition: all 0.5s ease-in;
  /* animation: aparecer 2s infinite; */
  top: 0;
  left: 0;
}
@keyframes aparecer {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(6);
  }

  100% {
    transform: scale(0);
  }
}
/* .puntaje-wrapper:hover .bonus{
  top:0;
  font-size: 50px;
}
*/
@media (max-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 500px 1fr;
    grid-template-areas: "score" "game" "buttons";
  }
  body {
    background: rgb(12, 12, 12);
  }
  .gameover {
    width: 350px;
    height: 600px;
    display: none;
  }
  .botonera-tetris {
    display: grid;
    margin-bottom: 50px;
  }

  .snake-wrapper {
    transform: scale(0.7);
    box-sizing: content-box;
    border: solid #333333 45px;
    border-right: solid #333333cb 45px;
    border-left: solid #24242467 45px;
    border-bottom: solid #242424a4 45px;
    background: #a3bfb0d0;
    width: 350px;
    height: 600px;
    box-shadow: inset 5px 5px 10px #000000, inset -5px -5px 10px #0b0b0b;
    /* box-shadow: inset 5px 5px 8px 2px #bebebe, inset -5px -5px 8px 2px whitesmoke; */
  }
}
